<a href="https://colab.research.google.com/github/JoseParada16/programacion1/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista = [1, 2, 3, 4, 5]
tupla = tuple(lista)

print(tupla)

(1, 2, 3, 4, 5)

In [ ]:
lista = [("ana", 18), ("maria", 20), ("pedro", 19)]
diccionario = dict(lista) # este se puede usar para cuando la lista cumpla las condiciones de diccionario, sino se pueden usar otras opciones

print(diccionario)

{'ana': 18, 'maria': 20, 'pedro': 19}

In [ ]:
lista = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4] # si nosotros metemos datos repetidos al conjunto este nos lo va a devolver pero de a uno solo, sin los datos repetidos y en orden numerico o alfabetico
conjunto = set(lista)

print(conjunto)

{1, 2, 3, 4}

In [ ]:
tupla = (1, 2, 3, 4, 5)
lista = list(tupla)

print(lista)

[1, 2, 3, 4, 5]

In [ ]:
tupla = (("ana", 18), ("maria", 20), ("pedro", 19))
diccionario = dict(tupla)

print(diccionario)

{'ana': 18, 'maria': 20, 'pedro': 19}

In [ ]:
tupla = (1, 2, 2, 3, 4, 5, 5, 5)
conjunto = set(tupla)

print(conjunto)

{1, 2, 3, 4, 5}

In [ ]:
diccionario = {"ana": 18, "maria": 20, "pedro": 19} # hay 2 ejemplos para este, si queremos pasar a lista las claves o lo0s valores, este es el ejemplo de las claves
lista_claves = list(diccionario)

print(lista_claves)

['ana', 'maria', 'pedro']

In [ ]:
diccionario = {"ana": 18, "maria": 20, "pedro": 19} # y este es para sacar los valores
lista_valores = list(diccionario. values())

print(lista_valores)

[18, 20, 19]

In [ ]:
diccionario = {"ana": 18, "maria": 20, "pedro": 19}
tupla_claves = tuple(diccionario)

print(tupla_claves)

('ana', 'maria', 'pedro')

In [ ]:
diccionario = {"ana": 18, "maria": 20, "pedro": 19}
tupla_valores = tuple(diccionario. values())

print(tupla_valores)

(18, 20, 19)

In [ ]:
diccionario = {"ana": 18, "maria": 20, "pedro": 19}
conjunto_items = set(diccionario.items())

print(conjunto_items)

{('pedro', 19), ('ana', 18), ('maria', 20)}

In [ ]:
conjunto = {1, 2, 3, 4, 5}
lista = list(conjunto)

print(lista)

[1, 2, 3, 4, 5]

In [ ]:
conjunto = {1, 2, 3, 4, 5}
lista = tuple(conjunto)

print(lista)

(1, 2, 3, 4, 5)

In [ ]:
conjunto = {1, 2, 3, 4, 5}
diccionario = dict.fromkeys(conjunto, 0)

print(diccionario)

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0}